$bg-form: #ffffff !default;
$bg-fields: #f2f2f2 !default;
$bg-buttons: #989898 !default;
$bg-buttons-action: #777777 !default;
$bg-error: #ffbaba !default;

$color-error: #d8000c !default;
$color-button: #FFFFFF !default;

#kerli81-securedpages-loginform {
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    z-index: 1;
    background: $bg-form;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: $bg-fields;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }

    button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: $bg-buttons;
      width: 100%;
      border: 0;
      padding: 15px;
      color: $color-button;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background: $bg-buttons-action;
      }
    }
  }

  .error-text {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;

    color: $color-error;
    background-color: $bg-error;
  }
}
